
.container{

  background-color: rgb(201, 140, 59);
  font-size: 1rem;
  box-sizing: border-box;
  width:60%;
  margin: 5rem;
  padding: 2rem;
  border-radius: 1rem;

}
.container h2{
  font-size: 2rem;
  color:rgb(90, 7, 90);

}

.unit{
  margin: 1rem;
  
}
.unit label{
  font-size: 2rem;
  color:darkblue;
}
.to label{
  font-size: 2rem;
  color:darkblue;
}
.btn{
  background-color: blue;
  padding: 5px;
  margin-left: 20px ;
  margin-top: 10px;
  border-radius: 8px;
  
}
.btn:hover{
  background-color: rgb(70, 223, 88);
  padding: 8px;
  margin-left: 20px ;
  margin-top: 10px;
  border-radius: 10px;
}
.unit input{
  padding: 5px;
}
.to input{
  padding: 5px;
}
.select{
   padding: 5px;
   margin-left: 10px;
   font-size: 1rem;
   font-style: oblique;
   font-weight: 600;
}